@import "tailwindcss";

@theme {
  --color-appbg: #fffff;
}

@layer base {
  body {
    background-color: var(--color-appbg);
  }
}

html, body {
  overscroll-behavior: none;
}

.chartjs-render-monitor {
  will-change: transform;
}
